body{

    background-color:bisque;
    font: 16px Arial, Helvetica, sans-serif;
    width: 900px;
    align-items: center;
}

#header{

    border-bottom: 0px solid rgb(207, 156, 14);
    weight: 800px;
    height: 500px; 

}

#menu{

    background-color: rgb(218, 194, 164);
    padding: 15px;
    text-align: center;

}

a{

    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;

}


#content{

    background-color: rgb(255, 244, 227);
    height: 250px;
    border-radius: 15px;
    text-align: left; 

}

#content2{

    background-color: rgb(255, 244, 227);
    height: 150px;
    text-align: left; 
    border-radius: 15px 15px 0px 0px;

}

p{
    margin-right: 20px;
    margin-left: 20px;
}

.titulo{

    text-align: center;


}

#footer{
    
    margin-top: 20px;
    text-align: center;
}

h1{
    font-size: 1.2em;
}

.img-responsive{

    margin-top: 0px;
    align-content: center;
    width: 100%;
    border-radius: 0px 0px 15px 15px;

}
